<a href="https://colab.research.google.com/github/Arju-cmd/Deep-Learning/blob/main/Artificial_Neural_Network_using_Weight_Initialization__and_Hyper_parameter_tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('/content/Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [2]:
dataset

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [3]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [4]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [5]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [6]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [7]:
X

      CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0             619    France  Female   42  ...        101348.88        0      0     0
1             608     Spain  Female   41  ...        112542.58        0      1     0
2             502    France  Female   42  ...        113931.57        0      0     0
3             699    France  Female   39  ...         93826.63        0      0     0
4             850     Spain  Female   43  ...         79084.10        0      1     0
...           ...       ...     ...  ...  ...              ...      ...    ...   ...
9995          771    France    Male   39  ...         96270.64        0      0     1
9996          516    France    Male   35  ...        101699.77        0      0     1
9997          709    France  Female   36  ...         42085.58        0      0     0
9998          772   Germany    Male   42  ...         92888.52        1      0     1
9999          792    France  Female   28  ...         38190.78        0      0     0

[10000 rows x 13 columns]

In [8]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [9]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
#  ANN
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [12]:
# Initialising the ANN
classifier = Sequential()

In [13]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))

In [14]:
# Adding the second hidden layer
classifier.add(Dense(6, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [15]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7865 - val_loss: 0.5323 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5116 - accuracy: 0.7962 - val_loss: 0.5079 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4913 - accuracy: 0.7960 - val_loss: 0.4932 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4782 - accuracy: 0.7962 - val_loss: 0.4825 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4678 - accuracy: 0.7966 - val_loss: 0.4737 - val_accuracy: 0.7963
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4590 - accuracy: 0.7996 - val_loss: 0.4664 - val_accuracy: 0.7989
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4516 - accuracy: 0.8037 - val_loss: 0.4601 - val_accuracy: 0.8046
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4449 - accuracy: 0.8091 - val_loss: 0.4549 - val_accuracy: 0.8069
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4393 - accuracy: 0.8127 - val_loss: 0.4508 - val_accuracy: 0.8076
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4349 - accuracy: 0.8162 - val_loss: 0.4472 - val_accuracy: 0.8092
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.8186 - val_loss: 0.4445 - val_accuracy: 0.8080
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.8218 - val_loss: 0.4422 - val_accuracy: 0.8084
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4252 - accuracy: 0.8216 - val_loss: 0.4401 - val_accuracy: 0.8103
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.8227 - val_loss: 0.4383 - val_accuracy: 0.8103
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4205 - accuracy: 0.8225 - val_loss: 0.4365 - val_accuracy: 0.8107
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.8237 - val_loss: 0.4351 - val_accuracy: 0.8122
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4165 - accuracy: 0.8233 - val_loss: 0.4336 - val_accuracy: 0.8118
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4145 - accuracy: 0.8248 - val_loss: 0.4322 - val_accuracy: 0.8148
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8242 - val_loss: 0.4305 - val_accuracy: 0.8148
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8250 - val_loss: 0.4289 - val_accuracy: 0.8160
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8265 - val_loss: 0.4274 - val_accuracy: 0.8141
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8274 - val_loss: 0.4259 - val_accuracy: 0.8148
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4050 - accuracy: 0.8281 - val_loss: 0.4238 - val_accuracy: 0.8152
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4027 - accuracy: 0.8293 - val_loss: 0.4216 - val_accuracy: 0.8175
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8283 - val_loss: 0.4195 - val_accuracy: 0.8183
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3974 - accuracy: 0.8296 - val_loss: 0.4168 - val_accuracy: 0.8190
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3945 - accuracy: 0.8317 - val_loss: 0.4137 - val_accuracy: 0.8224
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3917 - accuracy: 0.8322 - val_loss: 0.4112 - val_accuracy: 0.8220
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3890 - accuracy: 0.8350 - val_loss: 0.4085 - val_accuracy: 0.8198
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3860 - accuracy: 0.8373 - val_loss: 0.4057 - val_accuracy: 0.8228
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3832 - accuracy: 0.8395 - val_loss: 0.4037 - val_accuracy: 0.8232
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3805 - accuracy: 0.8406 - val_loss: 0.4011 - val_accuracy: 0.8236
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3778 - accuracy: 0.8421 - val_loss: 0.3985 - val_accuracy: 0.8262
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3752 - accuracy: 0.8433 - val_loss: 0.3964 - val_accuracy: 0.8285
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3729 - accuracy: 0.8453 - val_loss: 0.3945 - val_accuracy: 0.8304
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3707 - accuracy: 0.8474 - val_loss: 0.3926 - val_accuracy: 0.8323
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3687 - accuracy: 0.8479 - val_loss: 0.3907 - val_accuracy: 0.8360
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3669 - accuracy: 0.8492 - val_loss: 0.3891 - val_accuracy: 0.8349
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3652 - accuracy: 0.8502 - val_loss: 0.3877 - val_accuracy: 0.8372
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3636 - accuracy: 0.8505 - val_loss: 0.3866 - val_accuracy: 0.8379
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3623 - accuracy: 0.8509 - val_loss: 0.3855 - val_accuracy: 0.8391
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3611 - accuracy: 0.8520 - val_loss: 0.3843 - val_accuracy: 0.8395
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3599 - accuracy: 0.8530 - val_loss: 0.3833 - val_accuracy: 0.8413
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3588 - accuracy: 0.8522 - val_loss: 0.3827 - val_accuracy: 0.8406
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3580 - accuracy: 0.8522 - val_loss: 0.3821 - val_accuracy: 0.8406
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3570 - accuracy: 0.8526 - val_loss: 0.3816 - val_accuracy: 0.8413
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3562 - accuracy: 0.8531 - val_loss: 0.3812 - val_accuracy: 0.8421
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3556 - accuracy: 0.8543 - val_loss: 0.3804 - val_accuracy: 0.8417
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8548 - val_loss: 0.3802 - val_accuracy: 0.8429
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3542 - accuracy: 0.8546 - val_loss: 0.3797 - val_accuracy: 0.8440
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3534 - accuracy: 0.8546 - val_loss: 0.3792 - val_accuracy: 0.8432
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3529 - accuracy: 0.8552 - val_loss: 0.3789 - val_accuracy: 0.8436
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3523 - accuracy: 0.8545 - val_loss: 0.3784 - val_accuracy: 0.8436
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3519 - accuracy: 0.8556 - val_loss: 0.3782 - val_accuracy: 0.8436
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3514 - accuracy: 0.8550 - val_loss: 0.3779 - val_accuracy: 0.8432
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3510 - accuracy: 0.8565 - val_loss: 0.3779 - val_accuracy: 0.8440
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3505 - accuracy: 0.8558 - val_loss: 0.3775 - val_accuracy: 0.8432
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3500 - accuracy: 0.8571 - val_loss: 0.3774 - val_accuracy: 0.8432
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3496 - accuracy: 0.8558 - val_loss: 0.3767 - val_accuracy: 0.8417
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3493 - accuracy: 0.8561 - val_loss: 0.3770 - val_accuracy: 0.8444
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8572 - val_loss: 0.3764 - val_accuracy: 0.8455
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3485 - accuracy: 0.8576 - val_loss: 0.3759 - val_accuracy: 0.8451
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3482 - accuracy: 0.8578 - val_loss: 0.3762 - val_accuracy: 0.8451
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8569 - val_loss: 0.3758 - val_accuracy: 0.8444
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3475 - accuracy: 0.8561 - val_loss: 0.3758 - val_accuracy: 0.8455
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3472 - accuracy: 0.8572 - val_loss: 0.3752 - val_accuracy: 0.8444
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3469 - accuracy: 0.8574 - val_loss: 0.3748 - val_accuracy: 0.8444
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8582 - val_loss: 0.3749 - val_accuracy: 0.8444
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8582 - val_loss: 0.3746 - val_accuracy: 0.8440
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8574 - val_loss: 0.3747 - val_accuracy: 0.8451
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8584 - val_loss: 0.3743 - val_accuracy: 0.8444
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3457 - accuracy: 0.8591 - val_loss: 0.3743 - val_accuracy: 0.8448
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8587 - val_loss: 0.3743 - val_accuracy: 0.8448
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8595 - val_loss: 0.3739 - val_accuracy: 0.8463
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3452 - accuracy: 0.8589 - val_loss: 0.3740 - val_accuracy: 0.8459
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8584 - val_loss: 0.3738 - val_accuracy: 0.8466
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8584 - val_loss: 0.3737 - val_accuracy: 0.8463
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8587 - val_loss: 0.3737 - val_accuracy: 0.8463
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8593 - val_loss: 0.3739 - val_accuracy: 0.8466
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8597 - val_loss: 0.3733 - val_accuracy: 0.8463
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8591 - val_loss: 0.3731 - val_accuracy: 0.8466
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8593 - val_loss: 0.3736 - val_accuracy: 0.8470
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8604 - val_loss: 0.3733 - val_accuracy: 0.8470
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8586 - val_loss: 0.3731 - val_accuracy: 0.8474
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8600 - val_loss: 0.3732 - val_accuracy: 0.8470
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8600 - val_loss: 0.3735 - val_accuracy: 0.8463
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8597 - val_loss: 0.3728 - val_accuracy: 0.8474
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8595 - val_loss: 0.3733 - val_accuracy: 0.8455
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8597 - val_loss: 0.3726 - val_accuracy: 0.8470
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3426 - accuracy: 0.8597 - val_loss: 0.3725 - val_accuracy: 0.8466
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8600 - val_loss: 0.3722 - val_accuracy: 0.8474
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8604 - val_loss: 0.3727 - val_accuracy: 0.8463
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8604 - val_loss: 0.3723 - val_accuracy: 0.8470
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8602 - val_loss: 0.3725 - val_accuracy: 0.8466
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8606 - val_loss: 0.3722 - val_accuracy: 0.8463
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3417 - accuracy: 0.8608 - val_loss: 0.3724 - val_accuracy: 0.8463
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8608 - val_loss: 0.3724 - val_accuracy: 0.8455
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8604 - val_loss: 0.3722 - val_accuracy: 0.8455
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8615 - val_loss: 0.3724 - val_accuracy: 0.8455
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8612 - val_loss: 0.3715 - val_accuracy: 0.8470

In [16]:
# list all data in history
print(model_history.history.keys())

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [18]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Part 3 - Making the predictions and evaluating the model
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [20]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [21]:
cm

array([[1546,   49],
       [ 219,  186]])

In [22]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [23]:
score

0.866

In [25]:
# Hyper parameter Tuning

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [3]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Perform Hyperparameter Optimization

from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid

In [4]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model
    
model = KerasClassifier(build_fn=create_model, verbose=0)

In [5]:
layers = [[20], [40, 20], [45, 30, 15]]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

grid_result = grid.fit(X_train, y_train)

[grid_result.best_score_,grid_result.best_params_]

[0.8565000057220459,
 {'activation': 'relu',
  'batch_size': 128,
  'epochs': 30,
  'layers': [45, 30, 15]}]

In [7]:
pred_y = grid.predict(X_test)
y_pred = (pred_y > 0.5)

In [8]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [9]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [10]:
cm

array([[1529,   66],
       [ 201,  204]])

In [11]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [12]:
score

0.8665